{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="jumbotron"><h1 id="clock"></h1></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <table class="table table-condensed table-bordered" id="eventTable">
          <th>Event Name</th>
          <th>Time Recorded</th>
          <th></th>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button id="addRowButton" class="btn btn-success">New Event</button>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script type="text/javascript" src="{{ url_for('static', filename='js/clock.js') }}"></script>
{% endblock %}
